@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes infinite-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-custom {
    animation: infinite-rotate 1.5s linear infinite;
  }